body {
    font-size: 21px;
}
h2,#resultMessage,#pointsForm,#resultMessageDiv{
    text-align:center;
}
#hiddenFields {
    display: none;
}
div{
    min-height: 30px;
}
#clock {
    min-height: 24px;
}