body {
    font-size: 18px;
}
h2,#resultMessage,#pointsForm{
    text-align:center;
}
#hiddenFields {
    visibility: hidden;
    display: none;
}
div{
    min-height: 30px;
}
#clock {
    min-height: 24px;
}